<h3 *ngIf="modeEnabled">Hidden Mode enabled!</h3>
<main class="main-content my-3">
    <h2>Ideas</h2>
    <div class="menu-buttons">
        <button (click)="changeFilterType('idea')" class="btn btn-outline-warning">Ideas</button>
        <button (click)="changeFilterType('observation')" class="btn btn-outline-dark mx-3">Observations</button>
        <button (click)="changeFilterType('gratitude')" class="btn btn-outline-success">Gratitudes</button>
        <button (click)="changeFilterType('all')" class="btn btn-outline-secondary my-3" style="display: block; padding: 10px 100px;">All</button>

    </div>
    <div class="ideas-container">
        <app-idea class="app-idea-component" [idea]="idea" *ngFor="let idea of ideas | filter:filterType" ></app-idea>
    </div>
</main>

